.jazz5
.metadata
.jazzShed
.DS_Store
.DS_STORE
*.class
*.ozasmt

# directories
/

**/xcuserdata
**/TempTestBuild
**/.project
**/bin
**/buildenvoy_temp
**/*.swp
**/*~.nib
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/ObjectiveC.gcda
**/ObjectiveC.gcno
**/build
**/coverage.info
**/lcov-reports
**/CoreGraphics.gcda
**/CoreGraphics.gcno
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
*.xcuserstate
xcuserdata
